.filterWrapper > li {
    /* float: left; */
    padding-left: 20px;
    list-style: none;
}
.filterWrapper {
    display: flex;
    justify-content: center;
}

  .no-suggestions {
    color: #999;
    padding: 0.5rem;
  }
  
  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: -0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
  }
  
  .suggestions li {
    padding: 0.5rem;
    
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: #f7fafc;
    color: #6574cd;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }

  .suggestions li {
    width: 100%;
  }